includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - app/
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Livewire magic properties
        - '#Access to an undefined property App\\Livewire\\#'
    excludePaths:
        - app/Console/Commands/MigrateReportFiles.php
        - app/Livewire/Traits/
